Main Gateway Workflow.json
{
  "name": "Main Gateway Workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        240
      ],
      "id": "eedcd619-199f-4eb5-9a7f-ca2682ffb376",
      "name": "Telegram Trigger",
      "webhookId": "5493bba4-7311-4b94-94c3-6c2bc7964f75",
      "credentials": {
        "telegramApi": {
          "id": "NUDq4gUtuivnWQXB",
          "name": "VKU_Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b0fe62c-dd47-4ee2-a57c-0102683f1392",
              "name": "chatId",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "476a8c82-8e60-49f3-926a-6820fe5c76aa",
              "name": "studentMsg",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        240
      ],
      "id": "b2939bb0-3e02-4367-8925-56e03bd20d53",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.studentMsg }}",
                    "rightValue": "tóm tắt",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "50e7b35e-58fe-4cb6-a2e4-bec3485dfddc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7b8b762f-89f4-46ef-9fa4-1fec27a22b94",
                    "leftValue": "={{ $json.studentMsg }}",
                    "rightValue": "đề thi",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "96650d09-4f9a-4aec-a12f-084cee7e7f77",
                    "leftValue": "={{ $json.studentMsg }}",
                    "rightValue": "tóm tắt",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        240
      ],
      "id": "d330c961-1edd-474c-a430-a758f7cc88ad",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CJD8fHAm4fwg6J7U",
          "mode": "list",
          "cachedResultUrl": "/workflow/CJD8fHAm4fwg6J7U",
          "cachedResultName": "Sub-workflow 2: Study Tools"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        96,
        240
      ],
      "id": "58c41723-3c0d-4253-a751-10ac7acf303a",
      "name": "Call 'Sub-workflow 2: Study Tools'2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CJD8fHAm4fwg6J7U",
          "mode": "list",
          "cachedResultUrl": "/workflow/CJD8fHAm4fwg6J7U",
          "cachedResultName": "Sub-workflow 2: Study Tools"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        80,
        432
      ],
      "id": "89ab28ff-e492-4ded-8401-51d608379414",
      "name": "Call 'Sub-workflow 2: Study Tools'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "L1VZEQwgbitqqoUM",
          "mode": "list",
          "cachedResultUrl": "/workflow/L1VZEQwgbitqqoUM",
          "cachedResultName": "Sub-RAG & Q&A"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        80,
        32
      ],
      "id": "2ad16382-0656-4357-8a4d-cccc75e1128d",
      "name": "Call 'Sub-RAG & Q&A'"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call 'Sub-RAG & Q&A'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Sub-workflow 2: Study Tools'2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Sub-workflow 2: Study Tools'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cc1d8784-4fb4-4c1a-abd6-f63a16df5cc9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d800b9d61e1192d5da59ee52f944c41fcd2ecf75dd5a1357c2cc02e1692ca5c8"
  },
  "id": "g5KpLVF0hGbrb49H",
  "tags": []
}